# Python bytecode files
*.py[cod]
__pycache__/
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual environment
venv/
ENV/
env/
.venv/
bin/
Include/
Lib/
Scripts/
pyvenv.cfg

# Django-specific stuff
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
db.sqlite3
.DS_Store

# Ignore Django migrations
**/migrations/*
!**/migrations/__init__.py

# Ignore media and static files
/media/
/staticfiles/
/static/

# Ignore the database and local settings
*.db
*.sqlite3
/local_settings.py

# Ignore IDE and editor specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore environment variables
.env
.env.*

# Ignore coverage reports
.coverage
htmlcov/
*.cover
.hypothesis/
.cache
