{% extends "base.html" %}

{% block content-body %}

        <div class="container mt-5">
            <div id="success-message">
            </div>
            <div class="row">
                <!-- Left column for the form -->
                <div class="col-md-6">
                    <h1>Create New Task</h1>
                    <form id="task-form" method="POST" action="/task/create-task/">
                        <div class="mb-3">
                            <label for="title" class="form-label">Task Title</label>
                            <input type="text" class="form-control" id="title" name="title" required />
                        </div>
        
                        <div class="mb-3">
                            <label for="description" class="form-label">Description</label>
                            <textarea class="form-control" id="description" name="description" rows="3"></textarea>
                        </div>
        
                        <div class="mb-3">
                            <label for="due_date" class="form-label">Due Date</label>
                            <input type="datetime-local" class="form-control" id="due_date" name="due_date" />
                        </div>
        
                        <div class="mb-3">
                            <label for="priority" class="form-label">Priority</label>
                            <select class="form-select" id="priority" name="priority" required>
                                <option value="H">High</option>
                                <option value="M" selected>Medium</option>
                                <option value="L">Low</option>
                            </select>
                        </div>
        
                        <div class="mb-3">
                            <label for="status" class="form-label">Status</label>
                            <select class="form-select" id="status" name="status" required>
                                <option value="P" selected>Pending</option>
                                <option value="I">In Progress</option>
                                <option value="C">Completed</option>
                            </select>
                        </div>
        
                        <div class="mb-3">
                            <label for="category" class="form-label">Category</label>
                            <input type="text" class="form-control" id="category" name="category" />
                        </div>
        
                        <div class="mb-3">
                            <label for="assigned_user" class="form-label">Assigned User</label>
                            <input type="text" class="form-control" id="assigned_user" name="assigned_user" required />
                        </div>
        
                        <button type="submit" class="btn btn-primary">Create Task</button>
                    </form>
                </div>
        
                <!-- Right column (empty) -->
                <div class="col-md-6"></div>
            </div>
        </div>

<script>
    const taskForm = document.getElementById("task-form");
    taskForm.addEventListener('submit', handleTaskFormSubmit);

    function handleTaskFormSubmit (event){
        event.preventDefault();
        const title = document.getElementById('title').value;
        const description = document.getElementById('description').value;
        const due_date = document.getElementById('due_date').value;
        const priority = document.getElementById('priority').value;
        const status = document.getElementById('status').value;
        const category = document.getElementById('category').value;
        const assigned_user = document.getElementById('assigned_user').value;

        const taskFormData = {
            'title': title,
            'description': description,
            'due_date': due_date,
            'priority': priority,
            'status': status,
            'category': category,
            'assigned_user': assigned_user
        };
        console.log(taskFormData)

        const csrftoken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');

        console.log(csrftoken)

        fetch('/task/create-task/',{
            method:'POST',
            headers:{
                'Content-Type':'application/json',
                'X-CSRFToken': csrftoken
            },
            body: JSON.stringify(taskFormData)
        })
        .then(response =>{
            if (!response.ok) {
                throw new Error('Network Response Not Ok');
            }
            return response.json();
        })
        .then(data =>{
            const successDiv = document.getElementById('success-message');
            const msg = `<p class="bg-success py-2 px-3 text-center text-white">New Task Added Successfylly!</p>`
            successDiv.insertAdjacentHTML('beforeend', msg)

            console.log('Successfully created new Task', data);
        })
        .catch(error =>{
            console.log('Raise an Error', error);
        });
    };
</script>

{% endblock content-body %}