{% extends "base.html" %}

{% block content-body %}

<div class="container">
    <div class="div">
        <h4 class="info " id="message"></h4>
    </div>
    
    <form id="request-form" action="" method="post">

        <label class="form-control" for="Email">Email</label>
        <input class="form-control" type="email" name="email" id="email">

        <input class="btn btn-success btn-round my-3" type="submit" value="Request">

    </form>
</div>

<script>

    const form = document.getElementById('request-form')
    form.addEventListener('submit', handleSubmitRequest)

    function handleSubmitRequest (event) {
        event.preventDefault()

        const email = document.getElementById('email').value
        const csrftoken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');

        fetch("/accounts/request-password-reset/",{
            method:'POST',
            headers:{
                "Content-Type":'application/json',
                'X-CSRFToken': csrftoken
            },
            body: JSON.stringify({'email':email})

        })

        .then(response => {
                // Check if the response is OK (status 200)
                return response.json().then(data => {
                    if (response.ok) {
                        document.getElementById('message').innerText = data.message; // Success message
                    } else {
                        throw new Error(data.error || 'Something went wrong'); // Error message
                    }
                });
            })
            .catch(error => {
                // Catch any errors here
                document.getElementById('message').innerText = error.message;
                console.log('Error:', error);
            });

        // .then(response => {
        //     if (!response.ok) {
        //         throw new Error('Network Response Not Ok');
        //     }
        //     if (response.status == 200){

        //         document.getElementById('message').innerText = response.message
        //     }
        //     else {
        //         document.getElementById('message').innerText = response.message
        //     }
        //     console.log(response.status);
        //     return response.json();

        // })
        // .then(data =>{
        //     console.log('return data',data)
        //     console.log(data.status)
        // })
        // .catch(error => {
        //     document.getElementById('message').innerText = error.message
        //     console.log('Raise an Error', error)
        // })

    }

</script>


{% endblock content-body %}