{% extends "base.html" %}

{% block content-body %}

<div class="container mt-5">
        <div id="message" class="container mt-4">
        
        </div>

    <form action="" id="set-password" method="post">
        <div class="mb-3">
            <label for="password1" class="form-label">Password</label>
            <input type="password" class="form-control" name="password1" required id="password1"
                placeholder="Enter your password">
        </div>

        <div class="mb-3">
            <label for="password2" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" name="password2" required id="password2"
                placeholder="Re-enter your password">
        </div>

        <button type="submit"  class="btn btn-primary">Set Password</button>
    </form>
</div>


<script>

    function getQueryParams() {
            const params = new URLSearchParams(window.location.search);
            const uid = params.get('uid');
            const token = params.get('token');
            return { uid, token };
        }
    function showMessage(message){
            const messageHtml = `
            
                <div class="alert alert-info" id="message" role="alert">
                    <p>${message}</p>
                </div>
            
        `
        document.getElementById('message').innerHTML = messageHtml;
    }


        const setPasswordForm = document.getElementById('set-password')

        setPasswordForm.addEventListener('submit', handleSetPassword)

        function handleSetPassword (event){
            event.preventDefault()
            const password1 = document.getElementById('password1').value;
            const password2 = document.getElementById('password2').value;
            console.log(password1)
            if (password1!==password2) {
                alert("Password didn't match")
                return;
            }

            const csrftoken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');

            const {uid, token} = getQueryParams()

            console.log("UID=",uid)
            console.log("token=", token)

            fetch("/accounts/reset-password/", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    "X-CSRFToken": csrftoken,
                },
                body:JSON.stringify({
                    'uid':uid,
                    'token':token,
                    'password':password1   
                })
            })
            .then(response => {
                return response.json().then(data =>{
                    if (response.ok) {
                        showMessage(data.message)
                    } else {
                        throw new Error(data.error || 'something went wrong')
                    }
                })
            })
            .catch(error =>{
                showMessage(error.message)
                console.log('Error Message', error)
            })
            

        }



    

</script>

{% endblock content-body %}