{% extends "base.html" %}

{% block content-body %}

<div class="container">
    <form action="" method="post">

        <label for="Password">Password</label>
        <input type="password" name="password1" id="password1">

        <label for="Password">Conform Password</label>
        <input type="password" name="password2" id="password2">

        <input type="submit" value="Set Password">
    </form>
</div>

<script>

    function getQueryParams() {
            const params = new URLSearchParams(window.location.search);
            const uid = params.get('uid');
            const token = params.get('token');
            return { uid, token };
        }

    const {uid, token} = getQueryParams()
    console.log(uid, token)

</script>

{% endblock content-body %}